body {
  background-color: #290a3d;
  color: #ffffff;
}

.App {
  text-align: center;
}

.done .taskText {
  text-decoration: line-through;
  opacity: 0.7;
  color: red;
}

.card {
  margin-bottom: 20px;
  
}
.addbtn{
  background: #41d1d6;
}
.addbtn:hover{
  background: #1a1a1a;
  border: 1px solid white;
}
.taskslist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.taskBg {
  background-color: #3474d5;
  border-radius: 6px;
  margin-bottom: 20px;
  /* margin-left: 300px; */
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  width: 50%;
  

}
.cancelbtn{
  background: red;
  margin-left: 8px;
}


.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #ffffff;
}


.taskBg .iconsWrap span:focus-visible {
  outline: none;
}

.taskBg .iconsWrap span:hover {
  color: rgb(255, 0, 17);
}

.mr-20 {
  margin-right: 20px;
}

.taskNumber {
  color: #fbf9f9;
  border: 1px solid #fffdfd;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskText {
  flex: 1;
  color: #fbf9f9;
}

.reset-button-container{
margin: 8px;
}